/* TINYMCE RTE EDITOR */

body.mceContentBody, body.mce-content-body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #898989;
    }






/**umb_name:Middelgrote tekst*/
.MiddelgroteTekst{font-size: 175%}

/**umb_name:Grote tekst*/
.GroteTekst{font-size: 250%}