/*
============Custom Styling============
*/

body, a {
    color: #FFFFFF;
}

h1, h2, h3, h4, h5 {
    color: #FAFAFA;
}

body {
    background-color: #80b0a9;
    font-family: Dosis,sans-serif;
    font-size: 20px;
    line-height: 1.6em;
}

footer {
    background-color: #E1F0FA;
    padding-top: 12px;
    padding-bottom: 6px;
    color: #221E23;
}

.lead-banner {
    min-height: 720px;
    font-family: 'Slabo+27px', sans-serif;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.lead-banner .row {
    max-width: 760px;
}

.lead-banner h1 {
    color: #fff;
    margin-top: 210px;
    margin-right: 200px;
    margin-bottom: 110px;
    font-size: 60px;
}

footer a, footer a:focus, footer h2  {
    color: #221E23;
    -moz-transition: color 1s;
    -o-transition: color 1s;
    -webkit-transition: color 1s;
    -ms-transition: color 1s;
    transition: color 1s;
}

footer a:hover {
    color: #AAAFB2;
}

footer .row div:nth-child(2){
    padding-right: 75px;
}

.arrow {
    background: url(../../Images/arrow-home.png) center no-repeat;
    min-height: 50px;
    margin-top: -50px;
    bottom: -1px;
}

section#copyright {
    background-color: #242125;
    color: #D8CAB4;
    height: 40px;
    padding-top: 4px;
    font-size: 0.6em;
}

a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}

a:focus {
    outline: none;
}

address {
    line-height: 1.75em;
}

.city-address {
    padding-left: 22px;
}

.footer-logo {
    padding-top: 55px;
}

.umb-grid .grid-section .White, .umb-grid .grid-section .Grey, .umb-grid .grid-section .Blue {
    padding: 0 30px 0 30px;
    color: #4B4B4B;
}

.umb-grid .row {
    padding: 30px 0 30px 0;
}

.umb-grid h1 {
    font-size: 30px;
}

.contact-form .btn-leadbanner {
    background-color: #80b0a9;
}

.contact-form {
    padding-top: 90px;
    padding-bottom: 90px;
}

.contact-form .form-group {
    margin-bottom: 30px;
}

.contact-form .form-group input, .contact-form .form-group textarea {
    border-radius: 0;
    font-size: 1.05em;
}

.contact-form label {
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contact-form .contactform-message-input {
    min-height: 150px;
}

.btn-leadbanner {
    color: #fff;
    background-color: #6C8CA3;
    -ms-border-radius: 0;
    border-radius: 0;
    border-width: 2px;
    border-color: #fff;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    -webkit-transition: color .5s;
    -ms-transition: color .5s;
    transition: color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -ms-transition: background-color .5s;
    transition: background-color .5s;
}

.btn-leadbanner:hover {
    background-color: #fff;
    color: #6C8CA3;
}

.page-title h1 {
    font-family: Dosis, sans-serif;
    font-size: 53px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.page-title, .key-content {
    background-color: #5C4B3C;
}

.key-content {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.25em;
}

.google-maps {
    background-color: #E1F0FA;
}

/**umb_name:Middelgrote tekst*/
.MiddelgroteTekst{font-size: 175%}

/**umb_name:Grote tekst*/
.GroteTekst{font-size: 250%}

/* NAVBAR ---------------------------------------------------*/
.navbar {
	margin-bottom: 0;
	border-radius: 0;
    font-family: 'Sansita', sans-serif;
    font-size: 19px;
    min-height: 85px;
    background-color: #E1F0FA;
}

.navbar a, .navbar a:focus, .navbar a:visited {
    color: #4B4B4B;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    -webkit-transition: color .5s;
    -ms-transition: color .5s;
    transition: color .5s;
}

.navbar a:hover {
    color: #AAAFB2;
}

.navbar .navbar-brand:hover  {
    color: #4B4B4B;
}

.navbar-nav > li > a {
	top: 1px;
}

.navbar-brand {
    padding: 15px 0 3px 3px;
}

.navbar-brand img {
    height: 57px;
}

.navbar-sitename {
    font-size: 1.45em;
    margin-left: 10px;
}

.navbar-right {
     margin-right: -5px;
}

.navbar ul.navbar-nav {
    padding-top: 14px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #E1F0FA;
}

.navbar-brand > img {
    display: inline;
}

@media screen and (max-width: 400px){

	.navbar-fixed-top .navbar-collapse {
     max-height: 500px;
	}
	.navbar-right {
     margin-right: -15px;
	}
	.navbar-collapse {
	 overflow-x: hidden;
	}
}

/* CAROUSEL ------------------------------------------------*/
.carousel {
	height: 550px;
	margin-bottom: 35px;
}

.carousel-inner {
	height: 100%;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    font-size: 2.5em;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-next {
    font-size: 2.5em;
}

.carousel-caption {
	top: 160px;
    text-shadow: 2px 2px 10px rgba(0,0,0, 0.5);
}

.carousel-images {
	position: fixed;
	right: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	background-size: cover;
}

.carousel-inner h2 {
	font-size: 60px;
}



/* HomePage Body Content and Media Queries -------------------- */

.services li {
	padding: 3px 0px;
}

.col-lg-4 ul {
	list-style-type: none;
	position: relative;
	left: -20px;
}

@media screen and (max-width: 48em){
    .col-sm-4 ul {
        list-style-type: none;
		text-align: center;
		position: relative;
		left: -25px;
    }
}

.col-sm-4 h3 {
	color: inherit;
}

@media screen and (max-width: 48em){
	.col-sm-4 h3 {
		color: #222222;
		margin: 15px 60px;
	}
}

.col-sm-4 p {
	margin: inherit;
}

@media screen and (max-width: 48em){
	.col-sm-4 p {
		margin: 15px 60px;
	}
}

.btn-center {
	text-align: left;
}

@media screen and (max-width: 48em){
	.btn-center {
		text-align: center;
	}
}

.content-blocks {
	height: 20px;
	background-color: #f0f0f0;
}

.block-odd {
	float: left;
	width: 48%;
}

.block-even {
	float: right;
	width: 48%;
}

.about-blocks {
	height: 140px;
	margin: 0 0 20px 0;
	background-size: cover;
	padding: 0 0;
	overflow: hidden;
	border-radius: 5px;
}

.marketing h1 {
	margin-bottom: 45px;
	text-align: center;
}


.bottom-body {
	margin: 15px 0 0 0;
}

.bottom-body h1 {
	text-align: center;
}

.col-sm-4 h3 {
	text-align: center;
}

.col-sm-4 p {
	display: block;
	text-align: center;
	font-size: 50px;
	margin: 20px 0;
}

@media screen and (max-width: 48em){
	.container-fluid {
		height: 260;
	}
}

@media screen and (max-width: 700px){
	.footer-info {
		background-color: #222222;
		padding: 20px 25px 20px 25px;
	}
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

/* TESTING --------------------------------------------------------*/

.col-md-12 {
	margin-bottom: 25px;
}

.col-md-9 {
	margin: 25px 0 25px 0;
}

.col-md-3 {
	margin: 25px 0 25px 0;
}

@media screen and (max-width: 775px){
	.col-md-9 {
		margin: 30px 0 50px 0;
	}
}

.column img {
	max-width: 100%;
	border-radius: 5px;
	margin: 20px 0;
}

.grid-section .container {
	max-width: 100%
}

.sidebar {
	margin-top: 55px;
}

footer {
	margin: 0;
}

/* Landing page ---------------------------------------------------- */

.landingpage {
	margin-top: -20px;
}

.landingpage div[style*="background-image"] {
	background-position: center center;
	background-size: cover;
}

.landingpage div[style*="background-image"] h1,
.landingpage div[style*="background-image"] p {
    text-shadow: 2px 2px 10px rgba(0,0,0, 0.5);
}

.landingpage .grid-section > div:first-child {
	padding-top: 120px;
	padding-bottom: 120px;
}

.landingpage p {
	margin: 0 auto 10px;
	max-width: 600px;
}
.landingpage .grid-section > div {
	padding:30px;
}

.Red,
.Blue,
.Yellow,
.Grey,
.White,
.Black {
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	color: white;
	padding:30px;
}

.Red {
	background-color: #CC0033;
}

.Blue {
	background-color: #2A5485;
}

.Yellow {
	background-color: #FECC09;
}

.Grey {
	background-color: #4B5B6E;
}
.White {
	background-color: #E1F0FA;
	/* muliply with white/black is not useful, hence luminosity :) */
	background-blend-mode: luminosity;
	color: #000000;
}
.Black {
	background-color: #000000;
	/* muliply with black/white is not useful, hence luminosity :) */
	background-blend-mode: luminosity;
	color: #ffffff;
}
.None {
	padding:30px;
}

@media (max-width:991px) {
	.column > .Red,
	.column > .Blue,
	.column > .Yellow,
	.column > .Grey,
	.column > .White,
	.column > .Black, 
	.column > .None {
		margin-bottom: 30px;
	}
}
