<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT sEO ANY>
<!ATTLIST sEO id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT title ANY>
<!ATTLIST title id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT carrouselFolder ANY>
<!ATTLIST carrouselFolder id ID #REQUIRED>
<!ELEMENT carrouselSlide ANY>
<!ATTLIST carrouselSlide id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1065" key="0e57a547-11ce-4e48-ada1-ce49095dec9d" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-02-15T15:01:04" updateDate="2017-02-15T18:03:56" nodeName="Home" urlName="home" path="-1,1065" isDoc="" nodeType="1051" creatorName="Simran Singh" writerName="Simran Singh" writerID="0" template="1050" nodeTypeAlias="homePage">
    <title><![CDATA[Welkom bij Hypno4Therapy]]></title>
    <siteName><![CDATA[Hypno4therapy Brugge]]></siteName>
    <bodyText><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article 4-4-4",
          "areas": [
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Titel 1",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>Nullam vulputate, lectus et lacinia accumsan, sem urna porttitor massa, et tincidunt tortor velit sit amet sapien. Vivamus et consectetur felis. Etiam tempor cursus elit id posuere. Pellentesque accumsan, risus sed pharetra vestibulum, mauris sem tempus augue, a tincidunt leo ipsum sit amet nisi.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Titel 2",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>Nullam vulputate, lectus et lacinia accumsan, sem urna porttitor massa, et tincidunt tortor velit sit amet sapien. Vivamus et consectetur felis. Etiam tempor cursus elit id posuere. Pellentesque accumsan, risus sed pharetra vestibulum, mauris sem tempus augue, a tincidunt leo ipsum sit amet nisi.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Titel 3",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>Nullam vulputate, lectus et lacinia accumsan, sem urna porttitor massa, et tincidunt tortor velit sit amet sapien. Vivamus et consectetur felis. Etiam tempor cursus elit id posuere. Pellentesque accumsan, risus sed pharetra vestibulum, mauris sem tempus augue, a tincidunt leo ipsum sit amet nisi.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Article 4-4-4",
          "hasConfig": false,
          "id": "d6e1c0df-f42a-f235-140d-fd96bb282722"
        },
        {
          "label": "Hoofding",
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media",
                "rte",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "Hoofding 1",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                },
                {
                  "value": "<p><span>Nullam vulputate, lectus et lacinia accumsan, sem urna porttitor massa, et tincidunt tortor velit sit amet sapien. Vivamus et consectetur felis. Etiam tempor cursus elit id posuere. Pellentesque accumsan, risus sed pharetra vestibulum, mauris sem tempus augue, a tincidunt leo ipsum sit amet nisi.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "1ee7d87e-6a59-fd6f-fc73-ca720760f1ef"
        },
        {
          "name": "Article 8-4",
          "areas": [
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>Nullam vulputate, lectus et lacinia accumsan, sem urna porttitor massa, et tincidunt tortor velit sit amet sapien. Vivamus et consectetur felis. Etiam tempor cursus elit id posuere. Pellentesque accumsan, risus sed pharetra vestibulum, mauris sem tempus augue, a tincidunt leo ipsum sit amet nisi. Vestibulum lacinia sem ac dapibus porttitor. In suscipit condimentum mauris, ut facilisis est. Vestibulum eu faucibus urna, sed porta lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc consectetur rhoncus metus, vitae hendrerit tortor tincidunt nec. Nullam et congue orci.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>Nullam vulputate, lectus et lacinia accumsan, sem urna porttitor massa, et tincidunt tortor velit sit amet sapien. Vivamus et consectetur felis. Etiam tempor cursus elit id posuere. Pellentesque accumsan, risus sed pharetra vestibulum, mauris sem tempus augue, a tincidunt leo ipsum sit amet nisi. Vestibulum lacinia sem ac dapibus porttitor. In suscipit condimentum mauris, ut facilisis est. Vestibulum eu faucibus urna, sed porta lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc consectetur rhoncus metus, vitae hendrerit tortor tincidunt nec. Nullam et congue orci.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "label": "Article 8-4",
          "hasConfig": false,
          "id": "23246d4d-c813-6a54-22ba-9d36ccbc5be2"
        },
        {
          "label": "Article 4-8",
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>Nullam vulputate, lectus et lacinia accumsan, sem urna porttitor massa, et tincidunt tortor velit sit amet sapien. Vivamus et consectetur felis. Etiam tempor cursus elit id posuere. Pellentesque accumsan, risus sed pharetra vestibulum, mauris sem tempus augue, a tincidunt leo ipsum sit amet nisi. Vestibulum lacinia sem ac dapibus porttitor. In suscipit condimentum mauris, ut facilisis est. Vestibulum eu faucibus urna, sed porta lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc consectetur rhoncus metus, vitae hendrerit tortor tincidunt nec. Nullam et congue orci.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 8,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "headline"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>Nullam vulputate, lectus et lacinia accumsan, sem urna porttitor massa, et tincidunt tortor velit sit amet sapien. Vivamus et consectetur felis. Etiam tempor cursus elit id posuere. Pellentesque accumsan, risus sed pharetra vestibulum, mauris sem tempus augue, a tincidunt leo ipsum sit amet nisi. Vestibulum lacinia sem ac dapibus porttitor. In suscipit condimentum mauris, ut facilisis est. Vestibulum eu faucibus urna, sed porta lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc consectetur rhoncus metus, vitae hendrerit tortor tincidunt nec. Nullam et congue orci.</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "be29008f-329e-23f8-4bd9-75366c9ab514"
        }
      ]
    }
  ]
}]]></bodyText>
    <textPage id="1067" key="3ddd9415-5ecb-41eb-99e8-1ce69abaf5a2" parentID="1065" level="2" creatorID="0" sortOrder="0" createDate="2017-02-15T15:08:10" updateDate="2017-02-15T15:38:03" nodeName="Wat is hypnose" urlName="wat-is-hypnose" path="-1,1065,1067" isDoc="" nodeType="1056" creatorName="Simran Singh" writerName="Simran Singh" writerID="0" template="1055" nodeTypeAlias="textPage">
      <pageTitle><![CDATA[Wat is hypnose?]]></pageTitle>
      <bodyText><![CDATA[<p style="text-align: center;"><strong>Algemene inhoud dummy text titel</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat nulla magna, non dignissim mi pulvinar quis. Ut pretium, lacus id vestibulum cursus, magna neque lobortis justo, sit amet hendrerit est metus vitae enim. Maecenas eget dui laoreet, fermentum magna et, luctus sem. Praesent gravida tincidunt mi vitae ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi pharetra arcu diam, quis vestibulum libero malesuada et.</p>
<p>Nulla facilisi. Donec in lectus et felis faucibus tincidunt quis lacinia ex. Nullam augue odio, rutrum vel tincidunt et, fringilla sit amet enim. Mauris non feugiat ligula, non luctus arcu. Curabitur tempus tellus id molestie tincidunt. Etiam et consequat justo, vitae mollis quam. Maecenas sollicitudin porttitor dolor, sed volutpat quam fringilla vitae. Donec efficitur suscipit consequat.</p>
<p>Aliquam facilisis urna leo, ac malesuada velit auctor sit amet. Quisque augue sapien, feugiat tincidunt porta egestas, lobortis eu neque. Aenean ut venenatis libero. Fusce maximus, mi at iaculis porta, lacus mauris lacinia lacus, sit amet congue dui nulla id nisi. Fusce ac dictum nisl. Sed ut pulvinar nunc. Cras sed arcu est. Nulla sit amet imperdiet nunc.</p>]]></bodyText>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></grid>
    </textPage>
    <textPage id="1068" key="510933b0-9577-49e5-aaf2-8c2c2285808d" parentID="1065" level="2" creatorID="0" sortOrder="1" createDate="2017-02-15T15:11:10" updateDate="2017-02-15T15:38:03" nodeName="Over ons" urlName="over-ons" path="-1,1065,1068" isDoc="" nodeType="1056" creatorName="Simran Singh" writerName="Simran Singh" writerID="0" template="1055" nodeTypeAlias="textPage">
      <pageTitle><![CDATA[Leer ons kennen]]></pageTitle>
      <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat nulla magna, non dignissim mi pulvinar quis. Ut pretium, lacus id vestibulum cursus, magna neque lobortis justo, sit amet hendrerit est metus vitae enim. Maecenas eget dui laoreet, fermentum magna et, luctus sem. Praesent gravida tincidunt mi vitae ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi pharetra arcu diam, quis vestibulum libero malesuada et. Ut tempus, odio sed ultrices eleifend, felis nulla facilisis ante, quis accumsan ligula sapien et est. Integer et faucibus est, sit amet tincidunt enim. Suspendisse eleifend neque in erat rutrum, et dapibus urna convallis. Curabitur vitae est turpis. Aliquam at volutpat metus. Donec faucibus mattis nunc quis blandit.</p>
<p>Nulla facilisi. Donec in lectus et felis faucibus tincidunt quis lacinia ex. Nullam augue odio, rutrum vel tincidunt et, fringilla sit amet enim. Mauris non feugiat ligula, non luctus arcu. Curabitur tempus tellus id molestie tincidunt. Etiam et consequat justo, vitae mollis quam. Maecenas sollicitudin porttitor dolor, sed volutpat quam fringilla vitae. Donec efficitur suscipit consequat.</p>
<p>Aliquam facilisis urna leo, ac malesuada velit auctor sit amet. Quisque augue sapien, feugiat tincidunt porta egestas, lobortis eu neque. Aenean ut venenatis libero. Fusce maximus, mi at iaculis porta, lacus mauris lacinia lacus, sit amet congue dui nulla id nisi. Fusce ac dictum nisl. Sed ut pulvinar nunc. Cras sed arcu est. Nulla sit amet imperdiet nunc.</p>]]></bodyText>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></grid>
    </textPage>
    <textPage id="1069" key="3d971137-d7d4-426a-a92a-abdc980d6b17" parentID="1065" level="2" creatorID="0" sortOrder="2" createDate="2017-02-15T15:12:08" updateDate="2017-02-15T15:38:03" nodeName="Therapiesoorten" urlName="therapiesoorten" path="-1,1065,1069" isDoc="" nodeType="1056" creatorName="Simran Singh" writerName="Simran Singh" writerID="0" template="1055" nodeTypeAlias="textPage">
      <pageTitle><![CDATA[Verschillende soorten therapie]]></pageTitle>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></grid>
    </textPage>
    <textPage id="1070" key="842902cc-b799-4b8b-a815-7716f43d8e9e" parentID="1065" level="2" creatorID="0" sortOrder="3" createDate="2017-02-15T15:13:13" updateDate="2017-02-15T15:38:03" nodeName="Prijzen" urlName="prijzen" path="-1,1065,1070" isDoc="" nodeType="1056" creatorName="Simran Singh" writerName="Simran Singh" writerID="0" template="1055" nodeTypeAlias="textPage">
      <pageTitle><![CDATA[Onze prijzen]]></pageTitle>
      <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis feugiat nulla magna, non dignissim mi pulvinar quis. Ut pretium, lacus id vestibulum cursus, magna neque lobortis justo, sit amet hendrerit est metus vitae enim. Maecenas eget dui laoreet, fermentum magna et, luctus sem. Praesent gravida tincidunt mi vitae ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi pharetra arcu diam, quis vestibulum libero malesuada et. Ut tempus, odio sed ultrices eleifend, felis nulla facilisis ante, quis accumsan ligula sapien et est. Integer et faucibus est, sit amet tincidunt enim. Suspendisse eleifend neque in erat rutrum, et dapibus urna convallis. Curabitur vitae est turpis. Aliquam at volutpat metus. Donec faucibus mattis nunc quis blandit.</p>
<p>Nulla facilisi. Donec in lectus et felis faucibus tincidunt quis lacinia ex. Nullam augue odio, rutrum vel tincidunt et, fringilla sit amet enim. Mauris non feugiat ligula, non luctus arcu. Curabitur tempus tellus id molestie tincidunt. Etiam et consequat justo, vitae mollis quam. Maecenas sollicitudin porttitor dolor, sed volutpat quam fringilla vitae. Donec efficitur suscipit consequat.</p>
<p>Aliquam facilisis urna leo, ac malesuada velit auctor sit amet. Quisque augue sapien, feugiat tincidunt porta egestas, lobortis eu neque. Aenean ut venenatis libero. Fusce maximus, mi at iaculis porta, lacus mauris lacinia lacus, sit amet congue dui nulla id nisi. Fusce ac dictum nisl. Sed ut pulvinar nunc. Cras sed arcu est. Nulla sit amet imperdiet nunc.</p>]]></bodyText>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></grid>
    </textPage>
    <textPage id="1071" key="695ecc94-63b5-4001-9c31-974acc95aeac" parentID="1065" level="2" creatorID="0" sortOrder="4" createDate="2017-02-15T15:14:55" updateDate="2017-02-15T15:38:03" nodeName="Misopvattingen" urlName="misopvattingen" path="-1,1065,1071" isDoc="" nodeType="1056" creatorName="Simran Singh" writerName="Simran Singh" writerID="0" template="1055" nodeTypeAlias="textPage">
      <pageTitle><![CDATA[Klassieke misopvattingen rond hypnose]]></pageTitle>
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></grid>
    </textPage>
    <contactPage id="1066" key="56d53ea5-e37b-4951-9778-57494bcabc67" parentID="1065" level="2" creatorID="0" sortOrder="5" createDate="2017-02-15T15:05:31" updateDate="2017-02-15T18:06:24" nodeName="Contacteer ons" urlName="contacteer-ons" path="-1,1065,1066" isDoc="" nodeType="1062" creatorName="Simran Singh" writerName="Simran Singh" writerID="0" template="1061" nodeTypeAlias="contactPage">
  
<pageTitle><![CDATA[Contacteer Hypno4therapy]]></pageTitle><telephoneNumber><![CDATA[0477 30 95 73]]></telephoneNumber><mailAddress><![CDATA[info@hypno4therapy.be]]></mailAddress><postalCode><![CDATA[8000]]></postalCode><city><![CDATA[Brugge]]></city><streetAndNumber><![CDATA[Dudzeelsesteenweg 156]]></streetAndNumber><facebookPage><![CDATA[https://www.facebook.com/hypno4therapy/]]></facebookPage></contactPage>
    <carrouselFolder id="1075" key="7acffc54-556f-4647-9c00-929780b37d00" parentID="1065" level="2" creatorID="0" sortOrder="6" createDate="2017-02-15T15:24:45" updateDate="2017-02-15T15:38:03" nodeName="Carrousel data" urlName="carrousel-data" path="-1,1065,1075" isDoc="" nodeType="1073" creatorName="Simran Singh" writerName="Simran Singh" writerID="0" template="0" nodeTypeAlias="carrouselFolder">
      <umbracoNaviHide>1</umbracoNaviHide>
      <carrouselSlide id="1076" key="57fed606-afb0-4638-94af-0b9770058813" parentID="1075" level="3" creatorID="0" sortOrder="0" createDate="2017-02-15T15:25:35" updateDate="2017-02-15T15:38:03" nodeName="slide1" urlName="slide1" path="-1,1065,1075,1076" isDoc="" nodeType="1074" creatorName="Simran Singh" writerName="Simran Singh" writerID="0" template="0" nodeTypeAlias="carrouselSlide">
        <link>1068</link>
        <description><![CDATA[Slide 1 omschrijving]]></description>
        <image><![CDATA[{
  "focalPoint": {
    "left": 0.49166666666666664,
    "top": 0.31782945736434109
  },
  "src": "/media/1001/hypnose-therapie.jpg",
  "crops": [
    {
      "alias": "Promo item crop",
      "width": 1500,
      "height": 600
    }
  ]
}]]></image>
      </carrouselSlide>
      <carrouselSlide id="1077" key="f023b323-6cb6-484c-a30e-4397337b1b44" parentID="1075" level="3" creatorID="0" sortOrder="1" createDate="2017-02-15T15:25:51" updateDate="2017-02-15T15:38:03" nodeName="slide2" urlName="slide2" path="-1,1065,1075,1077" isDoc="" nodeType="1074" creatorName="Simran Singh" writerName="Simran Singh" writerID="0" template="0" nodeTypeAlias="carrouselSlide">
        <link>1067</link>
        <description><![CDATA[Slide 2 omschrijving]]></description>
        <image><![CDATA[{
  "focalPoint": {
    "left": 0.46833333333333332,
    "top": 0.53539823008849563
  },
  "src": "/media/1002/hypnose-therapie2.jpg",
  "crops": [
    {
      "alias": "Promo item crop",
      "width": 1500,
      "height": 600
    }
  ]
}]]></image>
      </carrouselSlide>
      <carrouselSlide id="1078" key="48785473-2333-486d-9b2d-05a683c40593" parentID="1075" level="3" creatorID="0" sortOrder="2" createDate="2017-02-15T15:29:44" updateDate="2017-02-15T15:38:03" nodeName="slide3" urlName="slide3" path="-1,1065,1075,1078" isDoc="" nodeType="1074" creatorName="Simran Singh" writerName="Simran Singh" writerID="0" template="0" nodeTypeAlias="carrouselSlide">
        <link>1070</link>
        <description><![CDATA[slide 3 omschrijving]]></description>
        <image><![CDATA[{
  "focalPoint": {
    "left": 0.49333333333333335,
    "top": 0.44674556213017752
  },
  "src": "/media/1003/hypnose-therapie3.jpg",
  "crops": [
    {
      "alias": "Promo item crop",
      "width": 1500,
      "height": 600
    }
  ]
}]]></image>
      </carrouselSlide>
    </carrouselFolder>
  </homePage>
</root>