@inherits UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@if (!string.IsNullOrEmpty(Umbraco.Field("pageTitle").ToString()))
{
    <section class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">@Umbraco.Field("pageTitle")</h1>
                </div>
            </div>
        </div>
    </section>
}

@if (!string.IsNullOrEmpty(Umbraco.Field("bodyText").ToString()))
{
    <section class="key-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @Umbraco.Field("bodyText")
                </div>
            </div>
        </div>
    </section>
}

<div>
    @CurrentPage.GetGridHtml("grid")
</div>